body {
	background: #EFEFEF;
}
.h1 {
	height: 1px;
	background: rgba(0, 0, 0, 0.4);
}
.h10 {
	height: 20px;
}
.topBack {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.bg {
	position: absolute;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	filter: blur(6px);
	-webkit-filter: blur(6px);
}
.header {
	height: 7%;
	width: auto;
	padding: 2%;
	background: #FF7220;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
}
.backIcon {
	position: absolute;
}
.backIcon img {
	height: 32px;
	width: 32px;
}
.title {
	width: 50%;
	text-align: center;
	line-height: 33px;
	position: absolute;
	left: 20%;
}
.title span {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
.saveBtn {
	height: 40px;
	width: 66px;
	background-color: #56AA2E;
	border-radius: 10px;
	border: 1px solid #ccc;
	position: absolute;
	right: 4%;
	bottom: 10%;
	text-align: center;
	line-height: 40px;
}
.saveBtn span {
	font-size: 16px;
	font-weight: bold;
	color: #ccc;
}
.saveBtn-active {
	height: 40px;
	width: 66px;
	background-color: #92E22E;
	border-radius: 10px;
	border: 1px solid #fff;
	position: absolute;
	right: 4%;
	bottom: 10%;
	text-align: center;
	line-height: 40px;
}
.saveBtn-active span {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.middleInfo {
	height: 88%;
	background: rgba(255, 251, 240, 0.6);
	position: relative;
}
.item {
	height: 50px;
	/*display: -webkit-box;*/
	/*display: -webkit-flex;*/
	/*display: flex;*/
	/*-webkit-box-orient: horizontal;*/
	/*-webkit-flex-flow: row;*/
	/*flex-flow: row;*/
	padding: 0 4% 0 4%;
}
.itemName {
	float: left;
	/* width: 40%; */
	line-height: 50px;
	padding-left: 6%;
}
.itemName span {
	font-size: 18px;
}
.content {
	float: right;
	width: 60%;
	line-height: 50px;
	padding-right: 6%;
	text-align: right;
}
.content2 span, .content span {
	font-size: 18px;
	color: #666;
}
.item2 {
	overflow: hidden;
	padding: 0 4% 0 4%;
}
.content2 {
	float: right;
	width: 60%;
	padding-right: 6%;
	text-align: right;
}
.content2 textarea {
	font-size: 18px;
	color: #666;
	line-height: 50px;
	width: 100%;
}