body {
	height: 100%;
	background: #eee;
}
.h10 {
	height: 6px;
}
.h1 {
	height: 1px;
	background-color: #CCC;
}
.v1 {
	height: 30px;
	width: 1px;
	background-color: #ccc;
}
.emptyOrder {
	margin-top: 20%;
	text-align: center;
}
.emptyOrder img {
}
.emptyAlert {
	font-size: 18px;
	color: #BCBCBC;
}
.orderList_simple {
	padding: 2%;
}
.orderItem {
    -webkit-box-shadow: 1px 1px 3px #292929;
	-moz-box-shadow: 1px 1px 3px #292929;
	box-shadow: 1px 1px 3px #292929;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #fff;
	height: auto;
}
.aboutInfo {
	background-color: #fff;
}
.orderInfo {
	background-color: #FFFFFF;
	float: left;
	width: 90%;
	padding-top: 12px;
	margin: 0 4% 12px 6%;
}
.infoRow {
	height: 30px;
	line-height: 30px;
	width： 100%；
}
.contactInfo {
	width: 80%;
	font-weight: bolder;
	font-size: 18px;
}
.contactInfo span {
	float: right;
	font-weight: bolder;
	font-size: 18px;
}
/*.custPhone {
	font-size: 18px;
}
.custPhone span {
	text-decoration: underline;
	letter-spacing: 1px;
	font-size: 16px;
}*/
/*.direction {
	float: right;
	position: relative;
	right: 12px;
}
.direction img {
	width: 20px;
	height: 20px;
}*/
.areaIcon {
	float: left;
}
.areaIcon img {
	width: 18px;
	height: 20px;
}
.address {
	float: left;
	font-size: 18px;
	font-weight: bolder;
	max-width: 90%;
}
.include {
	float: left;
}
.include span {
	float: left;
	font-size: 16px;
	font-weight: bolder;
}
.timeItem {
	font-size: 18px;
	float: left;
}
.timeItem span {
	color: #FF0000;
}
.time2Item {
	font-size: 18px;
	float: left;
}
.time2Item span {
	text-decoration: underline;
	color: #FF0000;
}
.detail {
	background: #f7f7f5;
}
.cartInfo {
	width: 90%;
	margin-left: 5%;
}
.dishItem {
	font-size: 18px;
	color: #FF6633;
	height: 28px;
	line-height: 28px;
}
.dishName {
	width: 50%;
}
.num {
	width: 20%;
}
.merge {
	width: 100%;
	font-size: 18px;
	height: 28px;
    line-height: 28px;
    font-weight: bolder;
}
.totalNum {
	float: right;
	width: 30%;
}
.totalNum span{
    color: #FF0000;
}
.statusBtn {
	float: right;
	width: 40%;
}
.statusBtn button {
	width: 100px;
	background-color: #FF6633;
	height: 24px;
    line-height: 24px;
	text-align: center;
	color: #FAFAFA;
	border-radius: 4px;
}
.deliver {
	font-weight: normal;
	font-size: 16px;
}
.receiptTime {
	/*position: relative;
	left: 50%;*/
	padding-left: 50%;
}
.h1 {
	background: #d4d3d2;
	height: 1px;
	width: 90%;
	margin-left: 5%;
	margin-top: 4px;
}
.remarks {
	padding: 6px 20px 6px 20px;
}
.remarks span{
/*	text-decoration: underline; */
    font-size: 18px;
	color: red;
}
.row{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
	line-height: 22px;
}
.optBtn {
	width: 90%;
	margin: 0 4% 4px 6%;
}
.submit {
	padding: 5px;
	height: 32px;
	width: 80%;
	border-radius: 5px;
	border: 1px solid #FF6633;
	color: #ff6633;
}
