nav{
    text-align: center;
    font-size: 1.8rem;
    color: #FFF;
    background-color: #0459c4;
    height: 4rem;
    top: 0;
    left: 0;
    padding: 20px 0 0 0;
    line-height: 4rem;
    position: fixed;
    width: 100%;
}

body{
 overflow: hidden;
}

.delive-box{
    width: 60%;
    margin: 60px 0 0 0;
    float: left;
    border: #00a0df solid 2px;
    border-radius: 4px;
    background-color: #e5e5e5;
    height: 45rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.delive-box .delive-list ul{

}

.delive-box .delive-list li{
    padding: 0 0 0 0.5rem;
 margin: 1rem 1rem 1rem 1rem;
    border-left: #00a0df solid 8px;
background-color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; ;
}
.delive-box .delive-list li .portrait{
    padding: 0.5rem;
    width: 4rem;
}

.delive-name{
    font-size: 1.8rem;
    margin: 0.5rem 0 0 0;
}
.delive-phone{
    font-size: 1.2rem;
}

.delive-info{
    margin: 0 0 0 1rem;
}