html, body {
	width: 100%;
	height: 100%;
	background-color: #eee;
}
.left a {
	text-align: center;
	display: block;
	line-height: 50px;
}
.icon {
	display: inline-block;
	font-family: Muiicons;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}
.icon-bars:before {
	content: "\e563";
	color: #FFFFFF;
}
#header {
	position: relative;
	height: 50px;
	line-height: 50px;
	background-color: #ee5f25;
}
#header .left {
	position: absolute;
	left: 0;
	height: 50px;
	width: 50px;
}
#header .left img {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
}
#header .center {
	position: absolute;
	left: 35%;
	height: 50px;
}
#header .center span {
	position: absolute;
	left: 20px;
	color: #fff;
	max-width: 180px;
}
#header .center img {
	position: absolute;
	bottom: 17px;
	height: 16px;
}
#header .right {
	height: 50px;
	width: 50px;
	float: right;
}
#header .right img {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
}
/* 悬停样式 */
.itemhover {
	background-color: #F6AF93;
}
.scan {
	position: absolute;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	background: url(../image/scan.png) no-repeat center center;
	background-size: 22px;
	-webkit-background-size: 22px;
}

/**
 *	导航栏
 */
.navbar {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
	position: relative;
	height: 45px;
	background: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid #e0e0e0;
}
.navbar-item {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	width: 100%;
	line-height: 45px;
	font-size: 16px;
	text-align: -webkit-center;
	color: #9B9C9C;
}
.navbar-item-hover {
	background-color: rgba(254,242,228,0.7);
}
.navbar-item-active {
	color: red;　
}
#navmark {
	position: absolute;
	left: 0px;
	bottom: 0px;
	-webkit-transition: 200ms;
	padding-left:25px;
}
#navmark img {
	position: absolute;
	bottom: 0;
	height: 8px;
}
.topInTime {
	/*width: 100%;*/
	padding: 2%;
	background: #FF8800;
}
.calendar {
	height: 30px;
	/*width:60%;*/
	line-height: 26px;
	/*margin-left: 2%;*/
	padding-left: 18%;
	font-weight: bold;
	color: #666666;
	/*border:1px solid #FF0000;*/
} 
.searchBtn {
	border: 2px solid #FF0000;
	border-radius: 4px;
	padding: 0px 2px;
}