html, body {
	background-color: transparent !important;
}
.emptyInventory {
	padding-top: 20%;
	text-align: center;
}
.emptyInventory img {

}
.emptyAlert {
	font-size: 18px;
	color: #BCBCBC;
}
.selector {
	height: 100%;
	width: 100%;
}
#manItems {
	height: 80%;
	-webkit-row-height: 34px;
	-moz-row-height: 34px;
	padding-top: 10%;
	padding-left: 4%;
	padding-right: 4%;
}
#manItems li {
	display: inline-block;
	list-style: none;
}
.item {
	position: relative;
	margin: 6px;
	background-color: #4CD864;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-flow: column;
	flex-flow: column;
	padding: 8px;
}
.presshover {
	background-color: #72C5FD;
}
.item span {
	font-size: 18px;
	/*color: #fff;*/
}
.btns {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
}
.rejectBtn {
	height: 44px;
	width: 40%;
	background-color: #F92659;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	margin-left: 7%;
	margin-right: 6%;
	line-height: 44px;
}
.pressRejectBtn, .pressGoBackBtn {
	background-color: #999;
}
.rejectBtn span, .goBackBtn span {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
.goBackBtn {
	height: 44px;
	width: 40%;
	background-color: #81A9C3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	line-height: 44px;
}