body {
	background: #EFEFEF;
}
.h1 {
	height: 1px;
	background: rgba(0, 0, 0, 0.6);
}
.h10 {
	height: 20px;
}
.topBack {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.bg {
	position: absolute;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	filter: blur(6px);
	-webkit-filter: blur(6px);
}
.header {
	height: 7%;
	width: auto;
	padding: 2%;
	background: #FF7220;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
}
.backIcon {
	position: absolute;
}
.backIcon img {
	height: 32px;
	width: 32px;
}
.title {
	width: 50%;
	text-align: center;
	line-height: 33px;
	position: absolute;
	left: 20%;
}
.title span {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
.stockbtn {
	position: relative;
	left: 78%;
	margin-top:-2%;
}
#stockbtn {
	height: 40px;
	width:80px;
	border: 1px solid #dedede;
	-moz-border-radius: 5px; /* Gecko browsers */
	-webkit-border-radius: 5px; /* Webkit browsers */
	border-radius: 5px; /* W3C syntax */
	background-color: red;
	color: white;
	font-size: 18px;
}
.topInfo {
	width: auto;
	padding: 2%;
	background: #FFFFF0;
}
.totalMoney{
    height: 26px;
    line-height: 26px;
    margin-left: 4%;
    font-weight: bold;
    color: #666666;
}
.totalMoney span{
    /*margin-left: 6%;
    font-weight: bold;*/
    color: #EE0000;
}