body {
	height: 100%;
	background: #eee;
}
.h10 {
	height: 6px;
}
.h30 {
	height: 30px;
}
.h1 {
	height: 1px;
	background-color: #CCC;
}
.v1 {
	height: 30px;
	width: 1px;
	background-color: #ccc;
}
.emptyOrder {
	margin-top: 20%;
	text-align: center;
}
.emptyOrder img {
}
.emptyAlert {
	font-size: 18px;
	color: #BCBCBC;
}
.orderList_simple {
	padding: 2%;
}
.orderItem {
	-webkit-box-shadow: 1px 1px 3px #292929;
	-moz-box-shadow: 1px 1px 3px #292929;
	box-shadow: 1px 1px 3px #292929;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #fff;
	height: auto;
}
.aboutInfo {
	background-color: #fff;
}
/*.pictureAdd {
 float: left;
 width: 26%;
 height: auto;
 }
 .pictureAdd img {
 width: 100%;
 height: 100%;
 }*/
.orderInfo {
	background-color: #FFFFFF;
	float: left;
	width: 90%;
	padding-top: 12px;
	margin: 0 4% 12px 6%;
}
.infoRow {
	height: 30px;
	line-height: 30px;
}
.contactInfo {
	/*float: left;*/
	width: 80%;
}
.contactInfo span {
	float: left;
	font-weight: bolder;
	font-size: 18px;
}
.custPhone {
	font-size: 18px;
}
.custPhone span {
	text-decoration: underline;
	letter-spacing: 1px;
	font-size: 16px;
}
.direction {
	float: right;
	position: relative;
	padding-right: 150px;
}
.direction img {
	width: 20px;
	height: 20px;
}
.areaIcon {
	float: left;
}
.areaIcon img {
	width: 18px;
	height: 20px;
}
.address {
	float: left;
	font-size: 18px;
	font-weight: bolder;
	max-width: 90%;
}
.include {
	float: left;
	width: 50%;
}
.include span {
	float: left;
	font-size: 16px;
	font-weight: bolder;
}
.timeItem {
	font-size: 18px;
	float: left;
}
.timeItem span {
	color: #FF0000;
}
.time2Item {
	font-size: 18px;
	float: left;
}
.time2Item span {
	text-decoration: underline;
	color: #FF0000;
}
.detail {
	background: #f7f7f5;
}
.cartInfo {
	width: 90%;
	margin-left: 5%;
}
.dishItem {
	font-size: 18px;
	color: #FF6633;
	height: 28px;
	line-height: 28px;
}
.dishName {
	width: 50%;
}
.num, .numPrice {
	width: 20%;
}
.merge {
	width: 100%;
	font-size: 18px;
	height: 28px;
	line-height: 28px;
	font-weight: bolder;
}
.totalNum {
	float: right;
	width: 60%;
}
.totalNum span {
	color: #FF0000;
}
.statusBtn {
	float: right;
	width: 40%;
}
.statusBtn button {
	width: 100px;
	background-color: #FF6633;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #FAFAFA;
	border-radius: 4px;
}
.deliver {
	font-weight: normal;
	font-size: 16px;
}
.receiptTime {
	/*position: relative;
	 left: 50%;*/
	padding-left: 10px;
	padding-top: 5px;
}
.h1 {
	background: #d4d3d2;
	height: 1px;
	width: 90%;
	margin-left: 5%;
	margin-top: 4px;
}
.remarks {
	padding: 6px 20px 6px 20px;
}
.remarks span {
	/*	text-decoration: underline; */
	font-size: 18px;
	color: red;
}
.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
	line-height: 22px;
}
.optBtn {
	width: 90%;
	margin: 0 4% 4px 6%;
}
.submit {
	padding: 5px;
	height: 32px;
	width: 80%;
	border-radius: 5px;
	border: 1px solid #FF6633;
	color: white;
	background-color: #EE5F25;
	margin-top: 10px;
}
.divMark {
	width: 96%;
	margin: 0 auto;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.spanBtn {
	background-color: #EE5F25;
	color: white;
	height: 30px;
	width: 80px;
	border-radius: 5px;
	font-weight: bold;
	background-color: #36A8DC;
	text-align: center;
}
.spanBtnReady {
	background-color: #EE5F25;
	color: white;
	height: 30px;
	width: 80px;
	border-radius: 5px;
	font-weight: bold;
	background-color: green;
	text-align: center;
}
.spanStatus {
	float: right;
	padding-right: 10px;
}
.divFooter {
	width: 96%;
	margin: 0 auto;
	line-height: 40px;
	border-bottom: 1px solid rgb(216, 204, 204);
	height: 40px;
}
.spanCm {
	width: 33%;
	font-size: 14px;
	color: gray;
/*	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;*/
}
.spanPic {
	vertical-align: top;
	width: 33%;
	font-size: 14px;
	color: gray;
}
.liDivS {
	width: 100%; 
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
}
.liDivHead {
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
	background-color: #DADADA;
	line-height: 20px;
}
.liAddr {
	font-size: 14px;
	color: gray;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.liPhone {
	font-size: 14px;
	color: gray;  
	padding-top:5px;
}
.liNo {
	float: right;
	padding-right: 20px;
}
.liStyle1 {
	font-size: 14px;
	color: gray;
	padding: 5px 0px 3px 0px;
}
.ulstyle {
	border-bottom: 1px dashed gray;
	background-color: white;
}
.divFlie {
	height: 116px;
	overflow: hidden;
}
.xTine {
	font-size: 14px;
	color: gray;
	width: 49%;
}
.xTimeIn {
	color: red;
	border-bottom: 1px solid red;
}
.yTime {
	font-size: 14px;
	color: gray;
}
.yTimeIn {
	color: red;
	border-bottom: 1px solid red;
}
.divTime {
	width: 100%;
	line-height: 25px;
}
.paySty {
	width: 100%;
	font-size: 14px;
	color: gray;
	padding: 5px 0px 3px 0px;
	height: 20px;
	line-height: 20px;
}
.payStar {
	/*position: absolute;
	 margin-top: -16px; */
	width: 20px;
	vertical-align: sub;
}
.carTyp {
	padding-top: 5px;
	line-height: 30px;
	font-size: 14px;
	color: gray;
	/*text-align: center;*/
	font-weight: bold;
}
.carTypH {
	color: red;
	font-size: 16px;
	border-bottom: 1px solid red;
}
.divBackg {
	background-color: #EDF7FA;
}
.btnCall {
	float: right;
	line-height: 40px;
	background-color: rgba(255, 255, 255, 0.35);
	color: white;
	margin-right: 10px;
	width: 80px;
	border-radius: 5px;
	font-weight: bold;
}
.spanPhone {
	background-color: #FF6633;
	color: white;
	height: 40px;
	width: 99%;
	border: 1px solid white;
	line-height: 40px;
	padding-left: 10px;
	font-weight: bold;
}
.divS2 {
	width: 99%;
	background-color: #fbf7ef;
	margin: 0 auto;
	margin-top: 1%;
}
.divS1 {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fbf7ef;
	border-bottom: 1px dashed;
}
.scAddredd {
	padding-top: 5px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
}
.spanListy{
width:33%;margin-top: 5px;}