body{
	background: #eee;
}
.tab_title{
	height: 4rem;
}
.tab_title>ul{
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0; 
	z-index: 50;
}
.tab_title li{
	float: left;
	width: 25%;
	font-size: 1.7rem;
	line-height: 4rem;
	position: relative;
}
.tab_title li.active{
	color: #e7781f;
}
.tab_title li.active:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 1rem solid transparent; 
	border-right: 1rem solid transparent; 
	border-bottom: 1rem solid #eee; 
	position: absolute;
	left: 50%;
	bottom: 0;
	transform:translate(-50%,0);
	-webkit-transform:translate(-50%,0);
}
.tab_title li:nth-child(1):before{
	content: attr(data-num);
	display: block;
	color: #fff;
	width: 1.5rem;
	line-height: 1.5rem;
	background: rgba(230,0,18,1);
	border-radius: 50%;
	font-size: 1rem;
	position: absolute;
	right: 0;
	top: 0;
}
.tab_content>ul{
	margin: 1rem;
}
.tab_content>ul>li{
	width: 100%;
	
	display: none;
}
.tab_content>ul>li.active{
	display: block;
}
.tab_content dl{
background: #fff;
	margin-bottom: 1rem;
}
.tab_content dt{
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
	position: relative;
	line-height: 3.5rem;
}
.customer_info{
	background: #e7781f;
}
.customer_info a{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	height: 100%;
}
.tab_content dt i{
	background-size: 100%;
	width: 2.5rem;
	height: 3.5rem;
	background-position: center;
	background-repeat: no-repeat;
}
.customer_info i{
	background-image: url(../images/callphone.png);
}
.tab_content dd{
	line-height: 3.5rem;
	padding: 0 1rem;
	color: #999;
	font-size: 1.5rem;
}
.tab_content span{
	margin-left: 0.5rem;
}
.black{
	color: black;
}
.red{
	color: red;
}
.tdu{
	text-decoration: underline;
}
.btn_red{
	padding: 0.5rem 1rem;
	background: #d9534f;
	border-radius: 5px; 
	color: #fff;
}
.btn_black{
	padding: 0.5rem 1rem;
	background: #666; 
	border-radius: 5px; 
	color: #fff;
}
.btn_green{
	padding: 0.5rem 1rem;
	background: #449d44; 
	border-radius: 5px; 
	color: #fff;
}
.btn_blue{
	padding: 0.5rem 1rem;
	background: #5bc0de; 
	border-radius: 5px; 
	color: #fff;
}
.menu_info{
	margin-top: 1rem;
	border: 1px dashed #666;
	border-top: none;
	position: relative;
}
.menu_info{
	background: #666;
}
.menu_info:before,.menu_info:after{
	content: "";
	display: block;
	background: #666;
	position: absolute;
	width: 1px;
	height: 3.5rem;
	top: 0;
}
.menu_info:before{
	left:-1px; 
}
.menu_info:after{
	right:-1px; 
}
.menu_info i{
	background-image: url(../images/arrow.png);
}
.tab_content button{
	width: 30%;
	text-align: center;
	margin: 0 auto;
	padding: 1rem 0;
	background: #e7781f;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 1rem;
}
.tab_content button:nth-child(2){
	margin-left: 20%;
}