body {
	background: #EFEFEF;
}
.h1 {
	height: 1px;
	background: rgba(0, 0, 0, 0.6);
}
.h10 {
	height: 20px;
}
.topBack {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.bg {
	position: absolute;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	filter: blur(6px);
	-webkit-filter: blur(6px);
}
.header {
	height: 7%;
	width: auto;
	padding: 2%;
	background: #FF7220;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
}
.backIcon {
	position: absolute;
}
.backIcon img {
	height: 32px;
	width: 32px;
}
.title {
	width: 50%;
	text-align: center;
	line-height: 33px;
	position: absolute;
	left: 20%;
}
.title span {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
.navbar {
	padding: 4%;
}
.typebar {
	height: 36px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #888;
	font-weight: YouYuan;
}
.delivering, .finish {
	width: 50%;
	line-height: 36px;
	text-align: center;
}
.finish span, .delivering span {
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
.delivering-active {
	width: 50%;
	background-color: #999;
    border-right: 1px solid #666;
	line-height: 36px;
	text-align: center;
}
.finish-active {
	width: 50%;
	background-color: #999;
    border-left: 1px solid #666;
	line-height: 36px;
	text-align: center;
}
.delivering-active span, .finish-active span {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}